footer.contact
  h2.contact__Header Get in Touch
  .contactBox
    div
      p.contactBox__text Dribbble
      p.contactBox__text Behance
      p.contactBox__text CodePen
      p.contactBox__text GitHub
      p.contactBox__text Medium
    .contactBoxEdit
      p.contactBox__text LinkedIn
      p.contactBox__text Facebook
      p.contactBox__text Instagram
      p.contactBox__text Twitter
    .contactBoxEdit.mobileContact
      p.contactBox__text seyrig@mailme.com
      p.contactBox__text.telephone + 55 6645 665544
    .contactBoxEdit1
      button.contactBoxEdit1__Button
        img(src='./images/arrowUp.png', alt='')