head
  .mainBox
    nav.menu
      h2.menu__Logo Portofolio
      .menuNav
        a.menuNav__link(href='#') Home
        a.menuNav__link(href='#') About
        a.menuNav__link(href='#') Skills
        a.menuNav__link(href='#') Portfolio
        a.menuNav__link(href='#') Contact
    nav.burger
      .burgerMenu
        a.burgerMenu__link(href='#') Home
        a.burgerMenu__link(href='#') About
        a.burgerMenu__link(href='#') Skills
        a.burgerMenu__link(href='#') Portfolio
        a.burgerMenu__link(href='#') Contact
      .burgerLogo
        img.burger__image(src='images/mobile menu.png', alt='')
        h2.mobileLogo Portofolio
    .headInfo
      p.headInfo__text1 Hi, It&rsquo;s Th&eacute;ophile Seyrig
      p.headInfo__text2 Designer from Porto, Portugal
      p.headInfo__text3 Latest works
